    
    body{
            background-color: goldenrod;
            font-family: Arial, Helvetica, sans-serif;
        }

    h1
    {
        color:white;
    } 
    
    .conteudo
    {
        background-color:white;
        width: 60%;
        position: relative;
        top:50px;
        left: 20%;
        right: 20%;
    }
